* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#Rhodiepic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
    background-size: cover;
    background-position: center center;
}

#RhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#RhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: lightpink;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}

@media screen and (orientation: landscape) {

    #Rhodiepic {
        width: 50vw;
    }

    #RhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: pink;
    }

    #RhodieTitle h1 {
        width: 45vw;
    }
    
}


#Rhodiepic2 {
    width: 50vw;
    right: 0;
    opacity: 20;
    background-image: url(Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg);
}

