* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#Rhodiepic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
    background-size: cover;
    background-position: center center;
}

#RhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#RhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: whitesmoke;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}

@media screen and (orientation: landscape) {

    #Rhodiepic {
        width: 50vw;
    }

    #RhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: lightpink;
    }

    #RhodieTitle h1 {
        width: 45vw;
    }
    
}

#maininfo {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: 100vh repeat(5, auto);
    grid-template-areas: 
            '.Heading Heading Heading KeyAspects KeyAspects KeyAspects'
            '. scientificname . list list list'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'

}

#sec1 {}

#sec2 {}

#KeyAspects {}

#scientificname {}

#heading {}



