* {
    font-family: monospace;
}


.navbar {
    display: flex;
    gap: 20px;
    background-color: #FCB8C6;
    padding: 15px;
    width: 20vw;
    height: 100vh;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: .7em;
    color: #D4778C;
    font-weight: bold;
    margin: .5em;
    width: 15vw;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: whitesmoke;
}

#navbarbuttons {
    width: 20vw;
}

body {
    margin: 0;
    padding: 0;
}




