* {
    font-family: monospace;
}

/* Mobile Layout */

@media screen and (orientation:portrait) {


    
    body {
        margin: 0;
        background-color: #D6789A;
        color: white;
    }

    /* Homepage + nav bar mobile layout */
    
    .navbar {
        display: flex;
        gap: 20px;
        background-color: #FCB8C6;
        padding: 10px;
        height: 27em;
        position: relative;
    }

    h1 {
        margin: 0;
    }

     .navbar a {
        text-decoration: none;
        display: inline-block;
        background-color: white;
        padding: .3em;
        color: #D4778C;
        font-weight: bold;
        margin: .2em;
        width: 80vw;
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
        margin-right: 2em;
    }

    .navbar a:hover {
        background-color: whitesmoke;
    }

    #HPH1 {
        text-align: center;
    }

    #HPIntroDiv {
        margin: 1em;
        background-color: pink;
        padding: 1em;
        border-radius: 5px;
    }

    #WebReccH2 {
        margin: .5em;
        text-align: center;
    }

    #HPReccDiv {
        margin: 1em;
        background-color: pink;
        padding: 1em;
        border-radius: 5px;
    }

    #HPContDiv {
        text-align: center;
    }

    /* Pet site Mobile Layout */

    #PetPageH1 {
        letter-spacing: 5px;
        word-spacing: 8px;
        text-align: center;
        margin: .3em;
    }

    #GenCareAdvH2 {
        text-align: center;
    }

    #GenCareCont {
        text-align: center;
        margin: 1em;
        background-color: pink;
        padding: 1em;
        border-radius: 5px;
    }

    #FoodNav {
        text-align: center;
        margin: 1em;
        background-color: pink;
        padding: 1em;
        border-radius: 5px;
    }

    
}


/* Navigation Bar Tweaks + Landscape */

@media screen and (orientation:landscape) {

    body {
        margin: 0;
        padding: 0;
        background-color: #D6789A;
        color: white;
    }
    
    .navbar {
        display: flex;
        gap: 20px;
        background-color: #FCB8C6;
        padding: 15px;
        width: 20vw;
        height: 1120vh;
        position: fixed;
    
    }

    .navbar a {
        text-decoration: none;
        display: inline-block;
        background-color: white;
        padding: .7em;
        color: #D4778C;
        font-weight: bold;
        margin: .5em;
        width: 15vw;
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
    }

    .navbar a:hover {
        background-color: whitesmoke;
    }

    #navbarbuttons {
        width: 20vw;
    }


        /* Pet Site Alterations */

    #GenCareCont {
        width: 50vw;
        position: relative;
        left: 25em;
        height: 3em
    }

    #PetPageH1 {
        position: relative;
        left: 13em
    }

    #FoodNav {
        position: relative;
        left: 77.3em;
        background-color: #FCB8C6;
        padding: 1.5em;
        border-radius: 5px;
        width: 15vw;
    }

    #ParaDiv {
        background-color: #FCB8C6;
        padding: 2em;
        border-radius: 15px
    }

    body {
        background-color: #D6789A;
        color: white;
    }

    h1 {
        margin: 0;
        padding: .4em
    }

    #HPNav1 {
        position: relative;
        left: 20em;
        width: 55vw;
        font-size: 20px;
        background-color: #FCB8C6;
        padding: 1em;
        border-radius: 10px;
    }

    #HPH1 {
        Position: relative;
        left: 15em;
        letter-spacing: 5px;
        word-spacing: 8px;
    }

    #HPNav2 {
        position: relative;
        left: 20em;
        width: 55vw;
        font-size: 20px;
        background-color: #FCB8C6;
        padding: 1em;
        border-radius: 10px
    }

    #WebReccH2 {
        position: relative;
        left: 21.5em;
    }

    #HPContDiv {
        position: absolute;
        left: 30em;
    }

}
