* {
    font-family: monospace;
}

/* Navigatioon Bar Tweaks + Landscape */

@media screen and (orientation:landscape) {

    body {
        margin: 0;
        padding: 0;
        background-color: #D6789A;
        color: white;
    }
    
    .navbar {
        display: flex;
        gap: 20px;
        background-color: #FCB8C6;
        padding: 15px;
        width: 20vw;
        height: 1120vh;
        position: fixed;
    
    }

    .navbar a {
        text-decoration: none;
        display: inline-block;
        background-color: white;
        padding: .7em;
        color: #D4778C;
        font-weight: bold;
        margin: .5em;
        width: 15vw;
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
    }

    .navbar a:hover {
        background-color: whitesmoke;
    }

    #navbarbuttons {
        width: 20vw;
    }


        /* Pet Site Alterations */

    #GenCareCont {
        width: 50vw;
        position: relative;
        left: 25em;
        height: 3em
    }

    #PetPageH1 {
        position: relative;
        left: 13em
    }

    #FoodNav {
        position: relative;
        left: 77.3em;
        background-color: pink;
        padding: 1.5em;
        border-radius: 5px;
        width: 15vw;
    }

    #ParaDiv {
        background-color: pink;
        padding: 2em;
        border-radius: 15px
    }


}
