/* styles for both Anni Ablers layouts */

main {
    width: 80%;
    max width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p {
    margin-left: 16.67%;
}

#row4 p {
    margin-left: calc(100% * 2 / 6);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* CSS for index 2!!!!!!!!!!!! */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#secondlayout main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(11, auto);
    grid-template-areas: 
            'title title title title title title'
            '. p1 p1 . . .'
            'p2 p2 . . c1 c1'
            '. p3 p3 . . .'
            '. . p4 p4 . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .';
}

#secondlayout #titlerow { grid-area: title; }
#secondlayout #para1 { grid-area: p1; }
#secondlayout #para2 { grid-area: p2; }
#secondlayout #para3 { grid-area: p3; }
#secondlayout #para4 { grid-area: p4; }
#secondlayout #para5 { grid-area: p5; }
#secondlayout #para6 { grid-area: p6; }
#secondlayout #para7 { grid-area: p7; }
#secondlayout #para8 { grid-area: p8; }
#secondlayout #para9 { grid-area: p9; }
#secondlayout #para10 { grid-area: p10; }
#secondlayout #para11 { grid-area: p11; }
#secondlayout #callout1 { grid-area: c1; }
#secondlayout #callout2 { grid-area: c2; }
#secondlayout #callout3 { grid-area: c3; }
#secondlayout #callout4 { grid-area: c4; }