/* styles for both Anni Ablers layouts */

main {
    width: 80%;
    max width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p {
    margin-left: 16.67%;
}

#row4 p {
    margin-left: calc(100% * 2 / 6);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* CSS for index 2!!!!!!!!!!!! */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#secondlayout main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(11, auto);
    grid-template-areas: 
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .'
            '. . . . . .';

}

#secondlayout #titlerow { grid-area: title; }